venv
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.DS_Store
.env
.env.*
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.dat
*.pkl
*.h5
*.hdf5
*.bak
*.swp
*.tmp
*.temp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
*.coverage
.coverage.*
.cache/
.tox/
.pytest_cache/
htmlcov/
.ipynb_checkpoints/
.mypy_cache/
.pyre/
.pytype/
celerybeat-schedule
instance/
*.spec